
<ul>
    <li>
        <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
    </li>
    <li>
        <p>Ut fusce varius nisl ac ipsum gravida vel pretium tellus.</p>
    </li>
    <li>
        <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat.</p>
    </li>
</ul>