
@{
    ViewBag.Title = "blog";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2>blog</h2>
<hr />
<h4>Faydalı linkler</h4>
@Html.Partial("_PartialFaydalıLinkler")

@section section1{
    <ul>
        <li>
            @Html.ActionLink("Index Sayfası", "index", "Home")
        </li>
    </ul>
} 